[Unit]
Description=Mount unit for telegram-desktop, revision 936
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/telegram-desktop_936.snap
Where=/snap/telegram-desktop/936
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
