[Unit]
Description=Mount unit for core18, revision 1144
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core18_1144.snap
Where=/snap/core18/1144
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
